#!/usr/bin/env zsh

# Ensure this script runs on Brewfile.tmpl changes by including a hash of its file contents:
# Brewfile.tmpl: {{ include ".chezmoitemplates/Brewfile.tmpl" | sha256sum }}

source $HOME/.zshrc

log() {
    echo
    echo -e "\033[1;36m===> $1\033[0m"
    echo
}

# atuin setup
log "Importing shell history to atuin"
atuin import auto

log "Activating mise for rest of tooling setup"
eval "$(mise activate zsh)"
mise install

if ! cargo binstall --help >/dev/null 2>&1; then
    log "Installing cargo binstall"
    curl \
        -L \
        --proto '=https' \
        --tlsv1.2 \
        -sSf \
        https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
fi

# install tmux plugins
log "Installing tmux plugins"
{{ .chezmoi.homeDir }}/.tmux/plugins/tpm/bin/install_plugins

# install vim plugins
log "Installing vim plugins"
vim +PluginInstall +qall

# install helm plugins
if ! helm plugin list | grep diff >/dev/null 2>&1; then
    log "Installing helm-diff"
    helm plugin install https://github.com/databus23/helm-diff
fi

if ! helm plugin list | grep helm-git >/dev/null 2>&1; then
    log "Installing helm-git"
    helm plugin install https://github.com/aslafy-z/helm-git
fi

# install language servers and formatters
log "Installing language servers and formatters"
go install mvdan.cc/sh/v3/cmd/shfmt@latest
go install github.com/lasorda/protobuf-language-server@latest
go install github.com/go-delve/delve/cmd/dlv@latest
go install golang.org/x/tools/gopls@latest

npm i -g bash-language-server \
    vscode-langservers-extracted \
    @microsoft/compose-language-service \
    @prisma/language-server

pipx install "python-lsp-server[all]" black

log 'Setup Complete'
