#!/bin/bash

# Ensure this script runs on Brewfile changes by including a hash of its file contents:
# Brewfile: {{ include "Brewfile" | sha256sum }}

{{- if eq .chezmoi.os "darwin" }}
  eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else if eq .chezmoi.os "linux" }}
  sudo apt update && sudo apt install -y build-essential
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

brew bundle --no-lock --file "{{ .chezmoi.sourceDir }}/Brewfile"
