#!/usr/bin/env zsh

# Ensure this script runs on .vimrc changes by including a hash of its file contents:
# dot_vimrc: {{ include "dot_vimrc" | sha256sum }}

# Ensure this script runs on .tmux.conf changes by including a hash of its file contents:
# .tmux.conf: {{ include "dot_tmux.conf" | sha256sum }}

PYTHON_VERSION=3.12.6

log() {
  echo
  echo -e "\033[1;36m===> $1\033[0m"
  echo
}

# atuin setup
log "Importing shell history to atuin"
atuin import auto

{{- if eq .chezmoi.os "linux" }}
if ! command -v tfswitch >/dev/null 2>&1; then
  log "Installing tfswitch on linux"
  curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/master/install.sh | bash
fi
{{- end }}

# install python
if ! command -v python >/dev/null 2>&1; then
  log "Installing python via pyenv"
  pyenv install $PYTHON_VERSION
  pyenv global $PYTHON_VERSION
  log "Installing poetry via pipx"
  pipx install poetry --python=$PYTHON_VERSION
fi

# install node
if ! command -v node >/dev/null 2>&1; then
  log "Installing node via volta"
  volta install node
fi

# install deno
if ! command -v dvm >/dev/null 2>&1; then
  log "Installing dvm to manage deno versions"
  curl -fsSL https://dvm.deno.dev | sh
fi

if ! command -v deno >/dev/null 2>&1; then
  log "Installing deno via dvm"
  dvm install
fi

# install rust
if ! command -v rustc >/dev/null 2>&1; then
  log "Installing rust"
  curl \
    --proto '=https' \
    --tlsv1.2 \
    -sSf \
    https://sh.rustup.rs | sh -s -- --no-modify-path -y
fi

# configure poetry plugin for oh-my-zsh
if [ ! -d $HOME/.oh-my-zsh/plugins/poetry ]; then
    log "Configuring poetry plugin for oh-my-zsh"
    mkdir -p $HOME/.oh-my-zsh/plugins/poetry
    poetry completions zsh > $HOME/.oh-my-zsh/plugins/poetry/_poetry
fi

# install tmux plugins
log "Installing tmux plugins"
{{ .chezmoi.homeDir }}/.tmux/plugins/tpm/bin/install_plugins

# install vim plugins
log "Installing vim plugins"
vim +PluginInstall +qall

log 'Setup Complete'
