#!/bin/bash

PYTHON_VERSION=3.11.3

{{- if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

if ! python --version >/dev/null 2>&1; then
  CPPFLAGS="-I$(brew --prefix openssl)/include" \
  LDFLAGS="-L$(brew --prefix openssl)/lib" \
  pyenv install $PYTHON_VERSION
fi
