#!/bin/bash

# Ensure this script runs on Brewfile.tmpl changes by including a hash of its file contents:
# Brewfile.tmpl: {{ include ".chezmoitemplates/Brewfile.tmpl" | sha256sum }}

log() {
    echo
    echo -e "\033[1;36m===> $1\033[0m"
    echo
}

{{- if eq .chezmoi.os "darwin" }}
[[ -f /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
[[ -f /usr/local/bin/brew ]] && eval "$(/usr/local/bin/brew shellenv)"
{{- else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# must brew install gcc on linux first
log "Installing gcc on linux as prerequisite"
brew install gcc
{{- end }}

# install homebrew packages
log "Installing Homebrew packages"
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ template "Brewfile.tmpl" . }}
EOF

# install any other prerequisite tooling not available in homebrew
if ! command -v mise >/dev/null 2>&1; then
    log "Installing mise"
    curl https://mise.run | sh
fi
