#!/bin/bash

# Ensure this script runs on .tmux.conf changes by including a hash of its file contents:
# .tmux.conf: {{ include "dot_tmux.conf" | sha256sum }}

{{- if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- else if eq .chezmoi.os "darwin" }}
[[ -f /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
[[ -f /usr/local/bin/brew ]] && eval "$(/usr/local/bin/brew shellenv)"
{{- end }}

{{ .chezmoi.homeDir }}/.tmux/plugins/tpm/bin/install_plugins
