#!/bin/bash

set -eo pipefail

log() {
  echo
  echo -e "\033[1;36m===> $1\033[0m"
  echo
}

{{ if eq .chezmoi.os "darwin" -}}
# Install the Xcode Command Line Tools.
if ! [ -f "/Library/Developer/CommandLineTools/usr/bin/git" ]; then
  log "Installing Xcode Command Line Tools"

  CLT_PACKAGE=$(softwareupdate --list \
    | grep -B 1 "Command Line Tools" \
    | awk -F"*" '/^ *\*/ {print $2}' \
    | sed -e 's/^ *Label: //' -e 's/^ *//' \
    | sort -V \
    | tail -n1)
  sudo softwareupdate --install "$CLT_PACKAGE"

  xcode-select --install
fi

# Accept T&Cs
if /usr/bin/xcrun clang 2>&1 | grep $Q license; then
  sudo xcodebuild -license
fi
{{ end -}}

if ! command -v brew &> /dev/null; then
  log "Installing Homebrew"
  export NONINTERACTIVE=1
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash -
fi
