# ======================================
# Tools settings and initialization
# ======================================
########
# homebrew (add homebrew sbin to path)
########
{{- if eq .chezmoi.os "darwin" }}
[[ -f /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
[[ -f /usr/local/bin/brew ]] && eval "$(/usr/local/bin/brew shellenv)"
{{- else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

########
# set default vars
########
export EDITOR={{ .editor_launch_cmd }}
# export PAGER=""

########
# custom local scripts
########
if [ -d "${HOME}/.local/bin" ]; then
  PATH="${HOME}/.local/bin:$PATH"
fi

if [ -d "${HOME}/bin" ]; then
  PATH="${HOME}/bin:$PATH"
fi

########
# atuin
########
eval "$(atuin init zsh)"

########
# z
########
_Z_DATA="$HOME/.z/zdata"
source ~/.z/z.sh

########
# mise
########
eval "$(mise activate zsh)"
