{{- $email := promptString "Enter your email address" }}
{{- $name := promptString "Enter your full name (default: Rob Gonnella)" | default "Rob Gonnella" }}
{{- $github_username := promptString "Enter your github username (default: robgonnella)" | default "robgonnella" -}}

{{- $ssh_choices := list "yes" "no" -}}
{{- $enable_ssh_config := promptChoice "Do you want to sync ssh config" $ssh_choices }}

encryption: "age"
{{- if eq $enable_ssh_config "yes" }}
age:
  identity: "~/.config/age/key"
  recipient: "age1lje4xg6ru43hg6tscaupsfma4uy7wd5m6ys09ef9ph5tpxjwd54stg2jl6"
{{- end }}

data:
  email: {{ $email }}
  name: {{ $name }}
  github_username: {{ $github_username }}
  enable_ssh_config: {{ $enable_ssh_config }}
  editor_launch_cmd: hx
