tap 'hashicorp/tap'
tap 'telepresenceio/telepresence'

brew 'age'
brew 'atuin'
brew 'awscli'
brew 'coreutils'
brew 'findutils'
brew 'gawk'
brew 'git'
brew 'gitui'
brew 'gnu-getopt'
brew 'gnu-sed'
brew 'gnu-tar'
brew 'gnu-time'
brew 'gnutls'
brew 'grep'

# The following are related to helix-editor
brew 'helix'
brew 'llvm'
brew 'ansible-language-server'
brew 'bash-language-server'
brew 'dockerfile-language-server'
brew 'marksman'
brew 'taplo'
brew 'helm-ls'
brew 'hashicorp/tap/terraform-ls'
brew 'shellcheck'
brew 'sql-language-server'
brew 'typescript-language-server'
brew 'yaml-language-server'
# end helix-editor deps

brew 'helm'
brew 'helmfile'
brew 'jq'
brew 'just'
brew 'k9s'
brew 'kubie'
brew 'kubernetes-cli'
brew 'mise'
brew 'pipx'
brew 'ripgrep'
brew 'starship'
brew 'telepresenceio/telepresence/telepresence-oss'
brew 'tmux'
brew 'tree'
brew 'vhs'
brew 'vim'
brew 'watch'
brew 'yq'
brew 'zellij'
brew 'zsh'

cask 'discord'
cask 'docker'
cask 'drawio'
cask 'font-symbols-only-nerd-font'
cask 'ghostty'
cask 'postman'
cask 'rectangle'
cask 'slack'
cask 'syncthing'
cask 'zed'
cask 'zoom'
